.login-container {
  width: 50vw;
  height: 70vh;
  background-color: #006060;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
}

.login-header {
  color: white;
  width: 100%;
  text-align: center;
}

/* .login-header:hover {
  color: greenyellow;
} */

.login-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-details label {
  margin-bottom: 1rem;
}

.login-details input {
  padding: 1rem;
  border: solid 1px white;
  border-radius: 2rem;
  width: 50%;
  margin-bottom: 1rem;
  color: white;
  background-color: #008080;
  text-align: center;
}

.login-details input::placeholder {
  color: white;
  text-align: center;
}

.login-details input:focus {
  outline: none;
}

.login-details input:focus::placeholder {
  color: transparent;
}

/* .login-email {} */

/* .login-password {} */

.login-submit {
  min-width: 10vw;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: solid 1px white;
  border-radius: 10px;
  color: #ffffff;
  background-color: #008080;
  outline: none;
  padding: 1rem;
}

.login-submit:hover {
  color: greenyellow;
  border: solid 1px greenyellow;
}

#forgot-password {
  text-align: center;
}

#forgot-password:hover {
  color: greenyellow;
}

#login-notice {
  color: white;
  text-align: center;
}

#login-notice u:hover {
  color: greenyellow;
}

@media screen and (max-width: 1000px) {
  .login-container {
    width: 90%;
    height: 70vh;
    background-color: #006060;
    border-radius: 2rem;
  
    display: flex;
    flex-direction: column;
  }
  
  .login-header {
    color: white;
    width: 100%;
    text-align: center;
  }
  
  .login-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .login-details label {
    margin-bottom: 1rem;
  }
  
  .login-details input {
    padding: 1rem;
    border: solid 1px white;
    border-radius: 2rem;
    width: 70%;
    margin-bottom: 1rem;
    color: white;
    background-color: #008080;
    text-align: center;
  }
  
  .login-details input::placeholder {
    color: white;
    text-align: center;
  }
  
  .login-details input:focus {
    outline: none;
  }
  
  .login-details input:focus::placeholder {
    color: transparent;
  }
  
  .login-submit {
    min-width: 10vw;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 10px;
    color: #ffffff;
    background-color: #008080;
    outline: none;
    padding: 1rem;
  }
  
  #forgot-password {
    text-align: center;
  }
  
  #login-notice {
    color: white;
    text-align: center;
    margin: 1rem;
  }
}