a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #282c34;
  outline: none;
  padding: 0.5rem .5rem;
}

ul {
  list-style-type: unset;
}

.container {
  margin: 1rem;
}

.Navbar {
  max-width: 100vw;
  text-align: center;
}

.Navbar-header {
  max-width: 100vw;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.Home-link {
  margin-left: 1rem;
}

.User-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.Add-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Add-buttons {
  min-width: 7vw;
  margin: 0 1rem;
}

.User-image {
  display: block;
  margin: auto;
  border-radius: 50%;
}

.Amal-container {
  background-color: #282c34;
  color: white;
  border-radius: 10px;
  margin: 1rem auto;
  padding: .5rem;
  max-width: 30vw;
  display: flex;
  flex-direction: column;
}

.Amal-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Amal-title {
  margin-left: 1rem;
}

.Amal-note {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    background-color: #282c34;
    outline: none;
    padding: 0.5rem .5rem;
  }
  
  .container {
    margin: 1rem;
  }
  
  .Navbar {
    max-width: 100vw;
    text-align: center;
  }
  
  .Navbar-header {
    max-width: 100vw;
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
  }
  
  .Home-link {
    margin-left: 1rem;
  }
  
  .User-icon {
    font-size: 2rem;
    margin-right: 1rem;
  }
  
  .Add-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Add-buttons {
    min-width: 20vw;
    margin: 0 1rem;
  }
  
  .User-image {
    display: block;
    margin: auto;
    border-radius: 50%;
  }

  .Amal-container {
    background-color: #282c34;
    color: white;
    border-radius: 10px;
    margin: 1rem auto;
    padding: .5rem;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .Amal-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .Amal-title {
    margin-left: 1rem;
  }

  .Amal-note {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}



/* debugging */
/* border: solid 1px red; */